<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager v.0.1</title>
  </head>

  <body>
    <% if current_user %>
      Welcome <%= current_user.email %>
    <% end %>
    <%= yield %>
  </body>
</html>
