<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager v.0.1</title>
  </head>

  <body>
    <% if current_user %>
      <div>
        Welcome <%= current_user.email %>
        <form action='/sessions' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Sign out'>
        </form>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <% if flash[:errors] && !flash[:errors].empty? %>
      <div>
        Beep-beep:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
