<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager v.0.1</title>
  </head>

  <body>
    <div>
      <% if current_user %>
        Welcome <%= current_user.email %>
      <% end %>
    </div>

    <div>
      <% if flash[:errors] && !flash[:errors].empty? %>
        Beep-beep:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
