<h3>Please enter a new password</h3>

<form action='/users' method='post'>
 <input type="hidden" name="_method" value="patch">
 <label for='password'>
   New password: <input type='password' name='password'>
 </label>
 <label for='password_confirmation'>
   Confirm new password: <input type='password' name='password_confirmation'>
 </label>
 <input type='submit' value='Submit'>
</form>
